<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :marca do %>
  <img class='logo-cinep' src="/images/logo.png"> 
  <!--%= Sip.titulo %-->
<% end %>

<% content_for :menu do %>
  <%= menu_group do %>
    <% if current_usuario %>
      <%= menu_item "Buscar", sal7711_gen.buscar_path %>
      <%= menu_item "Manual de Uso", "/Manual_de_Uso_Archivo_Digital_de_Prensa_CINEP.pdf", target: '_blank' %>
      <%= menu_item "Acerca de", sip.acercade_path %>
      <% if can? :edit, Sal7711Gen::Articulo %>
        <%= drop_down "Lote" do %>
          <%= menu_item "Buscar", main_app.lotes_path %>
          <%= menu_item "Lote", main_app.new_lote_path %>
          <%= menu_item "Añadir un artículo", sal7711_gen.new_articulo_path %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= menu_group :pull => :right do %>
    <% urlop = Rails.configuration.action_mailer.default_url_options %>
    <% if current_usuario %>
        <%= drop_down "Administrar" do %>
          <% if can? :cambiarclave, ::Usuario %>
            <%= menu_item "Clave", main_app.editar_registro_usuario_path %>
          <% end %>
          <% if current_usuario.rol == Ability::ROLADMIN %>
            <%= menu_item "Usuarios", main_app.usuarios_path %>
            <%= menu_item "Tablas Básicas", sip.tablasbasicas_path %>
            <%= menu_item "Consultas por usuario", "/bitacora/admin" %>
            <%= menu_item "Consultas en tiempo", "/bitacora/tiempo" %>
            <!--%= menu_item "Enviar instrucciones de reconfirmación", "/usuarios/reconfirma" %-->
          <% end %>
        <% end %>
        <%= menu_item "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
      <!--% else % -->
        <!--%= menu_item "Ingresar", Rails.application.routes.url_helpers.
          new_usuario_session_url( urlop ) %--> 
        <!--%= menu_item "Inscribirse", 
          Rails.application.routes.url_helpers.
          new_usuario_registration_url(urlop) %-->
        <!--% puts "current_usuario es ", current_usuario.inspect %-->
        <!--% org = ::Organizacion.where(
          'usuarioip_id = ?', current_usuario.id).take
          url = org ? org.url_logoinst : nil  %-->
        <!--% if url %-->
          <!--li><img class='logo-inst' src="< %= #url % >"></span></li-->
        <!--% end %--> <!-- if url --> 
      <!--% end %--> <!-- else !current_usuario.autenticado_por_ip -->
    <% else %> <! -- if current_usuario -->
      <%= menu_item "Iniciar Sesión", main_app.new_usuario_session_path %>
      <!--%= menu_item "Ingresar", 
        Rails.application.routes.url_helpers.new_usuario_session_url( urlop, only_path: true ) %--> 
      <!--%= menu_item "Inscribirse", 
        Rails.application.routes.url_helpers.new_usuario_registration_url(urlop, only_path: true) %-->
    <% end %> <!-- else current_usuario -->
  <% end %> <!-- menu_group -->
<% end %> <!-- content_for :menu -->

<% content_for :piedepagina do %>
  <div class="pie">
    <p> Contenidos con derechos reservados. Pueden ser utilizado total o 
    parcialmente, siempre y cuando se cite como fuente al 
      <a href="http://www.cinep.org.co">CINEP/Programa por la Paz</a>.</p>
    <p>Teléfono: (57)(1) 245.6181  /  
    Fax: (57)(1) 287.9089  /  
    Email: <a href="mailto:cinep@cinep.org.co">cinep@cinep.org.co</a>  /  
    Dirección: Cra 5 No. 33B- 02 Bogotá, Colombia.</p>
    <p>Sistema de información desarrollado por 
      <a href="http://www.pasosdeJesus.org">Pasos de Jesús</a>
    </p>
  </div>
<% end %>

<%= render template: "layouts/sal7711_gen/application" %>
